header#header.header

    a.logo(href="../html")
        img(src="../images/logo.svg", alt="Logo Alkon")

    a#burger.burger
        span.burger-line
            i.burger-line--inner
            i.burger-line--inner
        span.burger-line
            i.burger-line--inner
            i.burger-line--inner
        span.burger-line
            i.burger-line--inner
            i.burger-line--inner

    nav.navigation
        ul.top-level
            li
                a(href="/html/") Главная
            li
                a(href="/html/portfolio.html") Портфолио
            li
                a(href="/html/contacts.html") Контакты

        ul.bottom-level
            li
                a(href="/html/services.html") Услуги
            li
                a(href="/html/team.html") Команда
            li
                a(href="/html/blog.html") Блог
            li 
                a(href="/html/job-in-alkon.html") Работа в Alkon