extends ./layout.pug

block title 
    title Работа в Alkon - Digital агентство «Алькон»

block prepend css
    link(href="../css/job-in-company.css", rel="stylesheet")

block content
    main.content-wrapper.no-margin
        section.job-in-company.no-margin
            .hero-slide(style="background-image: url(../images/compress/services/seo/hero-slide@progressive.jpg)")
                .container
                    h1.section-heading Работа в Alkon
                    .button-wrapper
                        a.button(href="") Хочу как вы, я из Digital
                        a.button(href="") Хочу как вы, НО НЕ УМЕЮ
            
            .content
                section.vacancy
                    p.section-heading.no-margin(style="text-align: center;") ВАКАНСИИ
                    .vacancy-wrapper
                        .vacancy__item
                            .vacancy__item-content.container
                                p.title.h1 Копирайтер
                                .description(style="display: none;")
                                    .col
                                        p.col-heading Обязанности
                                        .text 
                                            ul
                                                li поиск новых клиентов, ведение текущей клиентской базы;
                                                li поиск новых клиентов, ведение текущей клиентской базы;
                                                li прием заказов и консультирование клиентов.
                                    .col
                                        p.col-heading Требования
                                        .text
                                            ul
                                                li поиск новых клиентов, ведение текущей клиентской базы;
                                                li приветствуются знания в области гидравлического оборудования, РВД (Рукава высокого давления).
                                    .col
                                        p.col-heading Условия
                                        .text
                                            ul
                                                li график работы 5/2 с 9.00 до 17.30;
                                                li оклад + %, выплата 2 раза в месяц;
                                                li достойная зарплата;
                                                li испытательный срок 2 недели.
                        .vacancy__item
                            .vacancy__item-content.container
                                p.title.h1 Контент-менеджер
                                .description(style="display: none;")
                                    .col
                                        p.col-heading Обязанности
                                        .text 
                                            ul
                                                li поиск новых клиентов, ведение текущей клиентской базы;
                                                li поиск новых клиентов, ведение текущей клиентской базы;
                                                li прием заказов и консультирование клиентов.
                                    .col
                                        p.col-heading Требования
                                        .text
                                            ul
                                                li поиск новых клиентов, ведение текущей клиентской базы;
                                                li приветствуются знания в области гидравлического оборудования, РВД (Рукава высокого давления).
                                    .col
                                        p.col-heading Условия
                                        .text
                                            ul
                                                li график работы 5/2 с 9.00 до 17.30;
                                                li оклад + %, выплата 2 раза в месяц;
                                                li достойная зарплата;
                                                li испытательный срок 2 недели.
                        .vacancy__item
                            .vacancy__item-content.container
                                p.title.h1 Менеджер проекта
                                .description(style="display: none;")
                                    .col
                                        p.col-heading Обязанности
                                        .text 
                                            ul
                                                li поиск новых клиентов, ведение текущей клиентской базы;
                                                li поиск новых клиентов, ведение текущей клиентской базы;
                                                li прием заказов и консультирование клиентов.
                                    .col
                                        p.col-heading Требования
                                        .text
                                            ul
                                                li поиск новых клиентов, ведение текущей клиентской базы;
                                                li приветствуются знания в области гидравлического оборудования, РВД (Рукава высокого давления).
                                    .col
                                        p.col-heading Условия
                                        .text
                                            ul
                                                li график работы 5/2 с 9.00 до 17.30;
                                                li оклад + %, выплата 2 раза в месяц;
                                                li достойная зарплата;
                                                li испытательный срок 2 недели.
                        .vacancy__item
                            .vacancy__item-content.container
                                p.title.h1 МАРКЕТОЛОГ
                                .description(style="display: none;")
                                    .col
                                        p.col-heading Обязанности
                                        .text 
                                            ul
                                                li поиск новых клиентов, ведение текущей клиентской базы;
                                                li поиск новых клиентов, ведение текущей клиентской базы;
                                                li прием заказов и консультирование клиентов.
                                    .col
                                        p.col-heading Требования
                                        .text
                                            ul
                                                li поиск новых клиентов, ведение текущей клиентской базы;
                                                li приветствуются знания в области гидравлического оборудования, РВД (Рукава высокого давления).
                                    .col
                                        p.col-heading Условия
                                        .text
                                            ul
                                                li график работы 5/2 с 9.00 до 17.30;
                                                li оклад + %, выплата 2 раза в месяц;
                                                li достойная зарплата;
                                                li испытательный срок 2 недели.
                        
                section.container.story
                    p.section-heading.no-margin(style="text-align: center;") История успеха
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .layer.layer-back
                                    .background(style="background-image: url(../images/compress/job-in-alkon/797e2fe85c47b1f01389d470b19b646c.jpg)")
                                .layer.layer-front
                                    .name Андрей Добрый
                                    .text.custom-scrollbar Я достаточно любознательный и увлекающийся, чтобы постоянно изучать что-то новое, расти в профессиональном плане, развиваться. Каждый раз, принимаясь за новую для меня задачу, я не знаю – получится ли у меня все с первого раза, но я уверен – если я буду стараться, то обязательно добьюсь желаемого!
                            
                            .swiper-slide
                                .layer.layer-back
                                    .background(style="background-image: url(../images/compress/job-in-alkon/3a8bcbc0f5a5e667232aedfb820dbf8a.jpg)")
                                .layer.layer-front
                                    .name Андрей Добрый
                                    .text.custom-scrollbar Я достаточно любознательный и увлекающийся, чтобы постоянно изучать что-то новое, расти в профессиональном плане, развиваться. Каждый раз, принимаясь за новую для меня задачу, я не знаю – получится ли у меня все с первого раза, но я уверен – если я буду стараться, то обязательно добьюсь желаемого!
                            
                            .swiper-slide
                                .layer.layer-back
                                    .background(style="background-image: url(../images/compress/job-in-alkon/a8bfb526c46216f13e28684f309754a4.jpg)")
                                .layer.layer-front
                                    .name Андрей Добрый
                                    .text.custom-scrollbar Я достаточно любознательный и увлекающийся, чтобы постоянно изучать что-то новое, расти в профессиональном плане, развиваться. Каждый раз, принимаясь за новую для меня задачу, я не знаю – получится ли у меня все с первого раза, но я уверен – если я буду стараться, то обязательно добьюсь желаемого!                            
                        
                        .swiper-pagination

                    .navigation-wrapper
                        .swiper-button-next
                        .swiper-button-prev

                section.section--gray.jumbotron.no-margin
                    .container
                        p.section-heading Почему 40% сотрудников с нами больше 3-х лет?
                        p.text Даем интересные и сложные задачи. Обучаем. Оплачиваем полезные курсы. Приглашаем в офис интересных спикеров. Поддерживаем спорт-культуру в компании. Работаем в удобном офисе в центре города И т.д.

                section.team-life.no-margin
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .layer.layer-back
                                    .background(style="background-image: url(../images/compress/job-in-alkon/82cd1036c0b7468d71e15cae7cd2f339.jpg)")
                                .layer.layer-front
                                    .name Волейбол
                                    .text.custom-scrollbar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus nam deserunt obcaecati libero, consequatur sed non veniam. Modi necessitatibus molestiae delectus, ex atque at voluptatem omnis aliquam, laborum commodi quisquam neque id exercitationem nobis minus dicta cumque, saepe est! Deserunt eveniet magnam modi, accusamus assumenda dicta doloribus consequatur animi quisquam
                            
                            .swiper-slide
                                .layer.layer-back
                                    .background(style="background-image: url(../images/compress/job-in-alkon/a4a64d85fd6db1179390dbff2a236c4e.jpg)")
                                .layer.layer-front
                                    .name Восхождение на Эльбрус
                                    .text.custom-scrollbar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus nam deserunt obcaecati libero, consequatur sed non veniam. Modi necessitatibus molestiae delectus, ex atque at voluptatem omnis aliquam, laborum commodi quisquam neque id exercitationem nobis minus dicta cumque, saepe est! Deserunt eveniet magnam modi, accusamus assumenda dicta doloribus consequatur animi quisquam
                            
                            .swiper-slide
                                .layer.layer-back
                                    .background(style="background-image: url(../images/compress/job-in-alkon/bc65b6e908b5eefe0f454f112140c7f4.jpg)")
                                .layer.layer-front
                                    .name Сноубординг
                                    .text.custom-scrollbar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus nam deserunt obcaecati libero, consequatur sed non veniam. Modi necessitatibus molestiae delectus, ex atque at voluptatem omnis aliquam, laborum commodi quisquam neque id exercitationem nobis minus dicta cumque, saepe est! Deserunt eveniet magnam modi, accusamus assumenda dicta doloribus consequatur animi quisquam
                            
                            .swiper-slide
                                .layer.layer-back
                                    .background(style="background-image: url(../images/compress/job-in-alkon/2b2ac5f2d5d398c9f8ccda7d0998cb76.jpg)")
                                .layer.layer-front
                                    .name Праздники
                                    .text.custom-scrollbar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus nam deserunt obcaecati libero, consequatur sed non veniam. Modi necessitatibus molestiae delectus, ex atque at voluptatem omnis aliquam, laborum commodi quisquam neque id exercitationem nobis minus dicta cumque, saepe est! Deserunt eveniet magnam modi, accusamus assumenda dicta doloribus consequatur animi quisquam


block append scripts
    script(src="../libs/swiper/js/swiper.min.js")
    script.
        function debounce(func, wait, immediate) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                var later = function() {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        };

        var swiperStory = new Swiper('.story .swiper-container', {
            slidesPerView: 3,
            spaceBetween: 15,
            loop: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                1366: {
                    pagination: {
                        el: '.swiper-pagination',
                        type: 'bullets',
                        clickable: 'true'
                    },
                },
                768: {
                    slidesPerView: 2,
                    pagination: {
                        el: '.swiper-pagination',
                        type: 'bullets',
                        clickable: 'true'
                    },
                },
                480: {
                    slidesPerView: 1,
                    pagination: {
                        el: '.swiper-pagination',
                        type: 'bullets',
                        clickable: 'true'
                    },
                }
            }
        });

        var swiperTeamLife = new Swiper('.team-life .swiper-container', {
            freeMode: true,
            freeModeMomentumBounce: false,
            freeModeMomentumVelocityRatio: 0.5,
            resistanceRatio: 0,
            freeModeSticky: true,
            slidesPerView: 4,
            spaceBetween: 0,
            loop: true,
            breakpoints: {
                420: {
                    slidesPerView: 1,
                },
                1023: {
                    slidesPerView: 2,
                },
                1366: {
                    slidesPerView: 3,
                }
            }
        });

        $(".vacancy__item").on("click", debounce(function() {
            if ($(this).hasClass("vacancy__item--is--open")) {
                $(this).removeClass("vacancy__item--is--open");
                $(".description", this).slideUp(500);
            } else {
                $(".vacancy__item").removeClass("vacancy__item--is--open");
                $(".vacancy__item .description").slideUp(500);

                $(this).addClass("vacancy__item--is--open");
                $(".description", this).slideDown(500);
            }
        }, 250));