doctype html
html(lang="ru")
    block variables
        - var bodyAttr = {class: ""};

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")
        meta(name="description")
        meta(name="keywords")
        meta(name="author", conten="OOO «Alkon» | Vadim Polyakov")
        link(rel="stylesheet", href="../favicon.ico", type="image/x-icon")
        
        block title
            title Digital агентство «Алькон»
        
        style.
            #fader {background-color: #020202;bottom: 0;height: 100%;left: 0;position: fixed;right: 0;top: 0;width: 100%;z-index: 9001;}
        
        block css
            link(rel="stylesheet", href="../css/header.css")
            link(rel="stylesheet", href="../css/main.css?v=1.0")

    body&attributes(bodyAttr)
        #fader

        script(src="../libs/jQuery/jquery-3.3.1.min.js")
        script(src="../libs/scroll-lock/scroll-lock.min.js")

        include header.pug

        block content

        block scripts
            link(rel="stylesheet", href="../libs/noty/css/noty.min.css")
            link(rel="stylesheet", href="../libs/noty/css/themes/metroui.min.css")
            link(rel="stylesheet", href="../libs/magnific-popup/css/magnific-popup.min.css")
            script(src="../libs/current-device.min.js")
            script(src="../libs/magnific-popup/js/jquery.magnific-popup.min.js")
            script(src="../libs/input-mask/inputmask.js")
            script(src="../libs/input-mask/inputmask.extensions.js")
            script(src="../libs/input-mask/inputmask.numeric.extensions.js")
            script(src="../libs/input-mask/inputmask.date.extensions.js")
            script(src="../libs/noty/js/noty.min.js")
            script(src="../scripts/validateForm.js")
            script(src="../scripts/main.js")