extends ./layout.pug

block title
    title Услуги - Digital агентство «Алькон»

block prepend css
    link(rel="stylesheet", href="../libs/swiper/css/swiper.min.css")
    link(rel="stylesheet", href="../css/services.css")

block content
    main.content-wrapper
        section.services.no-margin
            .services-header
                .container
                    h1.section-heading 
                        | Делай правильный выбор
                    p.section-description 
                        | Верное комбинирование рекламных каналов и 
                        br
                        | инструментов приводит к победе.

            .services-content
                .services__item
                    .services__item-content.container
                        p.heading.h1 Web
                        p.anons Создаём работающие сайты, интернет-магазины и web-сервисы. Вам понравится и захочется еще!
                        .button-wrapper.more
                            a.button(href="./services-inner.html") Подробнее

                .services__item
                    .services__item-content.container
                        p.heading.h1 Seo
                        p.anons Результативно продвигаем сайты в Яндекс и Google.
                        .button-wrapper.more
                            a.button(href="./services-inner.html") Подробнее

                .services__item
                    .services__item-content.container
                        p.heading.h1 PPC
                        p.anons Размещение объявлений сайта вашей компании в результатах поиска Google и Yandex.
                        .button-wrapper.more
                            a.button(href="./services-inner.html") Подробнее

                .services__item
                    .services__item-content.container
                        p.heading.h1 SMM
                        p.anons Умеем привлекать трафик или внимание к бренду/продукту через социальные платформы.
                        .button-wrapper.more
                            a.button(href="./services-inner.html") Подробнее

                .services__item
                    .services__item-content.container
                        p.heading.h1 Serm
                        p.anons Создаём работающие сайты, интернет-магазины и web-сервисы. Вам понравится и захочется еще!
                        .button-wrapper.more
                            a.button(href="./services-inner.html") Подробнее

                .services__item
                    .services__item-content.container
                        p.heading.h1 Branding
                        p.anons Занимаемся дизайном логотипов, элементов фирменного стиля, рекламы и полиграфии.
                        .button-wrapper.more
                            a.button(href="./services-inner.html") Подробнее

                .services__item
                    .services__item-content.container
                        p.heading.h1 Motion
                        p.anons Создаём работающие сайты, интернет-магазины и web-сервисы. Вам понравится и захочется еще!
                        .button-wrapper.more
                            a.button(href="./services-inner.html") Подробнее

                .services__item
                    .services__item-content.container
                        p.heading.h1 CM
                        p.anons Создаём работающие сайты, интернет-магазины и web-сервисы. Вам понравится и захочется еще!
                        .button-wrapper.more
                            a.button(href="./services-inner.html") Подробнее

                .services__item
                    .services__item-content.container
                        p.heading.h1 Support
                        p.anons Предлагаем полный спектр услуг техподдержки для качественного функционирования вашего ресурса.
                        .button-wrapper.more
                            a.button(href="./services-inner.html") Подробнее

                .services__item
                    .services__item-content.container
                        p.heading.h1 Domains
                        p.anons Предлагаем услуги по регистрации доменов во всех популярных доменных зонах.
                        .button-wrapper.more
                            a.button(href="./services-inner.html") Подробнее

                .services__item
                    .services__item-content.container
                        p.heading.h1 Hosting
                        p.anons Для своих клиентов мы предлагаем услуги размещения сайтов на серверах в лучших дата-центрах России. 
                        .button-wrapper.more
                            a.button(href="./services-inner.html") Подробнее