// Font
$mainFont               : 'PTRootUI-Regular';
$mainFontColor          : #DADADA;
$mainFontWeight         : 400;
$mainLineHeight         : 1.4;

// Display Size
$desktopWidth           : 1230px;
$smDesktopWidth         : 1150px;
$tableWidth             : 1024px;
$smTableWidth           : 768px;
$phoneWidth             : 480px;
$smPhoneWidth           : 320px;

// Main Color
$defaultColor           : #FFFFFF;
$primaryColor           : #020202;
$yellow                 : #FFC700;

// Background Color
$mainBackgroundColor    : #080808;
$primaryBackgroundColor : #121212;
$lightBackgrounColor    : #1C1C1C;

// Neutral Color
$neutralPrimary         : #BABABA;
$neutralPrimaryLighter  : #DADADA;
$neutralRegular         : #7A7A7A;
$neutralDarker          : #606060;

// Border Color
$borderBase             : #353535;
$borderDarker           : #101010;
$borderLighter          : #4E4E4E;
$borderLink             : #6F6F6F;

// State Color
$successColor           : #8CC043;
$dangerColor            : #D13846;
$warningColor           : #E07F40;

// Social Network Color
$vkColor                : #4B76A6;
$fbColor                : #4367AF;
$twColor                : #23A1EF;
$instColor              : #D12BB4;
//$instColor              : linear-gradient 0%,#E9225B 49.72%, #D12BB4 100%);