@import "../utils/vars.scss";
@import "../utils/mixin.scss";

.portfolio {
    &:not(.front-page) {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .swiper-slide {
        &.active {
            .portfolio__item {
                .layer {
                    &-front {
                        opacity: 0;
                        transition: opacity .25s ease-in-out;
                    }
    
                    &-back {
                        z-index: 1;
                    }
                }
            }
        }
    }
    
    &__item {
        height: 100%;
        position: relative;

        .layer {
            height: 100%;
            left: 0;
            position: relative;
            top: 0;
            width: 100%;

            &-front {
                align-items: center;
                background-color: $primaryColor;
                display: flex;
                flex-direction: column;
                justify-content: center;
                opacity: 1;
                pointer-events: none;
                transition: opacity .25s ease-in-out;
                z-index: 2;

                .company-logo {
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
                
                .company-name {
                    @include font-size(20px, 32px, 320px, 1200px);
                    color: $defaultColor;
                    font-family: "BrutalType-Light";
                    line-height: 1;
                    margin-left: 37px;
                    margin-top: auto;
                    width: 100%;
                }
                
                .type-work {
                    color: $neutralRegular;
                    font-family: "PTRootUI-Bold";
                    font-size: 14px;
                    line-height: 1;
                    margin-bottom: 37px;
                    margin-left: 37px;
                    margin-top: 10px;
                    text-transform: uppercase;
                    width: 100%;
                }
            }

            &-back {
                background-color: $primaryColor;
                height: 100%;
                position: absolute;
                z-index: -1;

                .background {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;

                    &::after {
                        background-color: rgba($color: #000000, $alpha: 0.4);
                        content: "";
                        height: 100%;
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 100%;
                    }
                }
    
                .popup-youtube {
                    background-image: url(../images/icons/play-video.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border: none;
                    bottom: 0;
                    display: block;
                    height: 100px;
                    margin: auto;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 100px;
                }
            }
        }

        @media (hover) {
            &:hover {
                .layer {
                    &-front {
                        opacity: 0;
                        transition: opacity .25s ease-in-out;
                    }
    
                    &-back {
                        z-index: 1;
                    }
                }
            }
        }
    }
}